<!-- <div id="wrapper">
  <div id="button-wrapper">
      <button mat-button id="lock-button" (click)="onLockDoorBtnClick()">Lock door</button>
      <button mat-button id="unlock-button" (click)="onUnlockDoorBtnClick()">Unlock door</button>
  </div>
  <div id="door-state">
      <p *ngIf="door.isLocked()" class="door-state-msg">Door is locked</p>
      <p *ngIf="!door.isLocked()" class="door-state-msg">Door is unlocked</p>
  </div>
</div> -->

<app-multiple-doors>
  <div id="wrapper">
      <div id="button-wrapper">
          <button mat-button id="lock-button" (click)="onLockDoorBtnClick()">Lock door</button>
          <button mat-button id="unlock-button" (click)="onUnlockDoorBtnClick()">Unlock door</button>
      </div>
      <div id="door-state">
          <p *ngIf="door.isLocked()" class="door-state-msg">Door is locked</p>
          <p *ngIf="!door.isLocked()" class="door-state-msg">Door is unlocked</p>
      </div>
  </div>
</app-multiple-doors>